body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}

p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color:black
}

li {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-experience .subtitle{
    color: #FB6D3A;
}

.sidebar {
    width: 370px;
    background: #1E2939;
    padding-top: 40px;
    color: #FFF;
}

.sidebar > .content {
    margin-top: 50px;
    margin-left: 40px;
}

.contacts p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 8px 0px 0px 0px;
}

.contacts a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.contacts h3 {
    margin: 0;
}

.contacts .phone-number {
    text-decoration: none;
}
.contacts p:last-child {
    margin: 0;
}

.sidebar > .tech-skills {
    margin: 47px 0px 0px 0px;
}

.skills h3 {
    margin-bottom: 8px;
    margin-top: 45px;
}

.skills ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.skills ul li::before {
    content: "\2022";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
    display: inline-block;
    width: 10px;
}

.skills li {
    color: #ffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* MAIN CONTENT STYLES*/
.main-content {
    width: calc(100% - 370px);
    padding: 102px 217px 107px 88px;
}

.summary {
    margin-bottom: 40px;
}

.summary > h4 {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: black;
}

.summary > h2 {
    margin: 19px 0px 24px 0px;
    color: black;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.summary > p {
    margin: 0px;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.projects > h3 {
    margin: 0;
}

.projects > ol {
    margin-top: 8 0 1.5em 0;
    padding: 0;
    counter-reset: item;
}

ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

ol > li::before {
    display: inline-block;
    width: 1em;
    padding-right: 13px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: black;
    text-align: right;
    content: counter(item) ".";
}

.projects > ol span {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: black;
}

.projects a {
    margin-top: 8px;
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    line-height: 24px;
}

.work-experience {
    margin: 51px 0px 0px 0px;
}

.work-experience > h3 {
    color: black;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
}

.work-experience > .first {
    margin: 12px 0px;
}

.work-experience > .first > h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 20px 0px 12px 0px;
}

.work-experience > .first > p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.work-experience > .first > ul {
    list-style: none;
    padding-left: 0px;
    margin: 8px 0px 0px 0px;
}

.work-experience > .first > ul li::before {
    content: "\2022";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    display: inline-block;
    width: 10px;
}

.work-experience > .first > li {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.work-experience > .second {
    margin: 12px 0px;
}

.work-experience > .second > h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 20px 0px 12px 0px;
}

.work-experience > .second > p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.work-experience > .second > ul {
    list-style: none;
    padding-left: 0px;
    margin: 8px 0px 0px 0px;
}

.work-experience > .second > ul li::before {
    content: "\2022";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    display: inline-block;
    width: 10px;
}

.work-experience > .second > li {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.work-experience > .third{
    margin: 12px 0px;
}

.work-experience > .third > h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 20px 0px 12px 0px;
}

.work-experience > .third > p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.work-experience > .third > ul {
    list-style: none;
    padding-left: 0px;
    margin: 8px 0px 0px 0px;
}

.work-experience > .third > ul li::before {
    content: "\2022";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    display: inline-block;
    width: 10px;
}

.work-experience > .third > li {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.education {
    margin: 43px 0px 12px 0px;
}

.education > h3 {
    color: black;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin: 12px 0px 0px 0px;
}

.education > h4 {
    margin: 12px 0px 0px 0px;
    color: #FB6D3A;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.education > h5 {
    color: black;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin: 12px 0px 12px 0px;
}

.education > p {
    margin: 12px 0px 0px 0px;
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}